.v-navigation-drawer {
  @include shadow-big();

  .v-list {
    padding: 0;
    background: $sidebar-bg;

    .v-list-item {
      &:not(:nth-child(3)) {
        margin: $margin-small $margin-general 0;
      }

      &:nth-child(3) {
        margin: 0 $margin-general;
      }

      & > .v-list__tile {
        padding: $padding-small $padding-general;

        &:hover,
        &:focus,
        &:active {
          background-color: $list-item-hover;
        }

        .v-list__tile__title {
          padding: 0;
          font-size: $font-size-general !important;
        }
      }

      .v-list__tile__action {
        min-width: unset;
        margin-right: $margin-general;

        i {
          width: $icon-width;
        }
      }

      .v-list__tile:not(.v-list__tile--active) .v-list__tile__action i {
        opacity: $list-item-icon-opacity;
      }

      .v-list__tile.v-list__tile--active {
        @include shadow-big-color($brand-success);
      }
    }

    .v-list__tile--avatar {
      height: unset;
      padding: $padding-logo 0;
    }

    .v-list__tile__avatar {
      min-width: unset;
      margin-right: $margin-list-right;
      margin-left: $margin-list-left;
    }

    .v-list__tile__title {
      height: unset;
      padding: $padding-avatar-title 0;
      font-weight: $font-weight-base;
      font-size: $font-size-avatar-title !important;
      line-height: $line-height;
      letter-spacing: unset !important;
    }

    .v-divider {
      width: $divider-width;
      margin: $divider-margins auto $divider-margins + 25;
      border-color: $black-opacity-3;
    }

    .v-image__image--contain {
      top: $top-dim;
    }

    .v-avatar {
      @include shadow-big();
    }
  }
}
