@font-face {
  font-family: 'iconfont';  /* project id 683109 */
  src: url('//at.alicdn.com/t/font_683109_iukt6pfrtesl9pb9.eot');
  src: url('//at.alicdn.com/t/font_683109_iukt6pfrtesl9pb9.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_683109_iukt6pfrtesl9pb9.woff') format('woff'),
  url('//at.alicdn.com/t/font_683109_iukt6pfrtesl9pb9.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_683109_iukt6pfrtesl9pb9.svg#iconfont') format('svg');
}

.iconfont {
  font-family:"iconfont" !important;
  font-size: 1rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-foot:before { content: "\e602"; }

.icon-like:before { content: "\e646"; }

.icon-view:before { content: "\e625"; }

.icon-comment:before { content: "\e6dc"; }
