.page-enter-active,
.page-leave-active {
  transition: opacity .5s
}

.page-enter,
.page-leave-active {
  opacity: 0
}

.bounce-enter-active {
  animation: bounce-in .8s;
}

.bounce-leave-active {
  animation: bounce-out .5s;
}

@keyframes bounce-in {
  0% {
    transform: scale(0)
  }
  50% {
    transform: scale(1.5)
  }
  100% {
    transform: scale(1)
  }
}

@keyframes bounce-out {
  0% {
    transform: scale(1)
  }
  50% {
    transform: scale(1.5)
  }
  100% {
    transform: scale(0)
  }
}

// dowm
.slide-down-enter-active {
  transition: all .4s ease;
}

.slide-down-leave-active {
  transition: all .4s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.slide-down-enter,
.slide-down-leave-active {
  transform: translateY(20px);
  opacity: 0;
}

.slide-down-move {
  transition: all .4s;
}

.slide-down-leave-active {
  position: absolute !important;
  width: 100%;
}