// color
$blue: #20A0FF;
$green: #5ab95c;
$grey: #ccc;
$white: #fff;
$darkgrey: #666;
$dark: #292929;

// theme
$color-primary: $blue;
$color-disabled: $grey;

// layout
$header-height: 60px;
$footer-height: 60px;

$color-border: #eee;