html,
body {
  color: $color-text;
  font-weight: 400;
  font-size: $fz16;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue",
    "San Francisco", "PingFang SC", Arial, "Microsoft YaHei",
    "Source Han Sans SC", "Noto Sans CJK SC", "WenQuanYi Micro Hei", sans-serif;
  line-height: 1.4;
  letter-spacing: .5px;
  -webkit-font-smoothing: antialiased;
}

a {
  &:hover {
    text-decoration: none;
  }
}

code,
pre {
  font-family: "Roboto Mono", Monaco, courier, monospace;
  -webkit-font-smoothing: initial;
  -moz-osx-font-smoothing: initial;
}

pre {
  margin-bottom: 1em;
  overflow: auto;
  font-size: 12px;
  background-color: $black;
  border-radius: $radius;
}

code {
  display: block;
  padding: 1em;
  color: $platinum;
  line-height: 1.6em;
  background-color: transparent;

  &::selection,
  *::selection {
    color: $white;
    background: #43d8e4;
  }
}

.iconfont {
  margin-right: .25rem;
}

.markdown-content {
  a {
    margin: 0 .2rem;

    &:hover {
      text-decoration: underline;
    }
  }

  .image-package {
    width: 92%;
    margin: 0 auto 1rem auto;
    text-align: center;

    .img-caption {
      display: inline-block;
      min-width: 10%;
      max-width: 80%;
      min-height: 22px;
      margin: 0 auto;
      padding: 6px;
      color: #969696;
      font-size: 14px;
      line-height: 1.2;
      border-bottom: 1px solid #d9d9d9;

      &:empty {
        display: none;
      }
    }
  }

  img {
    display: block;
    max-width: 100%;
    margin: .5rem auto;
    text-align: center;
    border-radius: $radius;
    // transition: all 0.25s;
    opacity: .9;
  }

  p {
    margin-bottom: 1rem;
    line-height: 1.8rem;
    text-indent: 2rem;

    &.text-center {
      text-align: center;
    }

    &.text-right {
      text-align: right;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 1.5rem 0;
    padding-left: 0;
    font-weight: 700;
    line-height: 1.8rem;
    text-indent: 0;

    // &:target {
    //   padding-top: 4.5rem;
    // }
  }

  hr {
    height: .1rem;
    background: $color-split;
    border: 0;
  }

  blockquote {
    margin-bottom: .3rem;
    padding: 0 1rem;
    color: #6a737d;
    border-left: .25rem solid #dfe2e5;

    p {
      text-indent: 0;

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  ul,
  ol {
    margin-bottom: .3rem;
    padding-left: 2rem;

    > li {
      padding: .5rem;
      line-height: 1.4rem;
      list-style-type: disc;

      > p {
        text-indent: 0;
      }

      > ul {
        li {
          list-style-type: circle;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  ol {
    > li {
      list-style-type: decimal;
    }
  }
}

// a {
//   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
// }
::-webkit-input-placeholder {
  /* WebKit browsers */
  color: $color-disabled;
  font-size: 1rem;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: $color-disabled;
  font-size: 1rem;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: $color-disabled;
  font-size: 1rem;
}

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: $color-disabled;
  font-size: 1rem;
}

// ::-webkit-scrollbar {
//   width: .5rem;
//   height: .5rem;
//   background: hsla(0, 0%, 100%, .6);
// }

// ::-webkit-scrollbar-track {
//   border-radius: 0;
// }

// ::-webkit-scrollbar-thumb {
//   background-color: rgba(95, 95, 95, .4);
//   border-radius: .5rem;
//   transition: all .2s;

//   &:hover {
//     background-color: rgba(95, 95, 95, .7);
//   }
// }
