$border-color: $color-border;
$border-active-color: $c-blue;
$size: 22px;
$radius: 5px; // 如果为50%就是圆形的

// https://appitventures.com/blog/styling-checkbox-css-tips/
.checkbox-container {
  display: block;
}

/* Styling Checkbox Starts */
.checkbox-label {
  position: relative;
  line-height: $size;
  cursor: pointer;

  input {
    position: absolute;
    cursor: pointer;
    opacity: 0;

    &:checked {
      ~ .checkbox-custom {
        background-color: #ffffff;
        border: 2px solid $border-active-color;
        border-radius: $radius;
        transform: rotate(0deg) scale(1);
        opacity: 1;
      }

      ~ .checkbox-custom::before {
        top: -3px;
        left: -3px;
        z-index: 999;
        width: $size;
        height: $size;
        border-radius: $radius;
        transform: scale(2);
        opacity: 0;
        transition: all .3s ease-out;
      }

      ~ .checkbox-custom::after {
        top: 4px;
        left: 50%;
        width: 6px;
        height: 12px;
        background-color: transparent;
        border: solid $border-active-color;
        border-width: 0 2px 2px 0;
        border-radius: 0;
        transform: rotate(45deg) scale(1) translateX(-50%);
        opacity: 1;
      }
    }
  }

  .checkbox-custom {
    position: absolute;
    top: 0;
    left: 0;
    width: $size;
    height: $size;
    background-color: transparent;
    border: 2px solid $border-color;
    border-radius: $radius;
    transition: all .3s ease-out;

    // 点击效果 Ripple Effect
    &::before {
      position: absolute;
      top: 10px;
      left: 10px;
      width: 0;
      height: 0;
      border: 2px solid $border-active-color;
      border-radius: $radius;
      transform: scale(0);
      content: "";
    }

    // 内部对勾
    &::after {
      position: absolute;
      top: 12px;
      left: 50%;
      width: 0;
      height: 0;
      border: solid $border-active-color;
      border-width: 0 3px 3px 0;
      border-radius: $radius;
      transform: rotate(0deg) scale(0) translateX(-50%);
      opacity: 1;
      transition: all .3s ease-out;
      content: "";
    }
  }

  .input-title {
    margin-left: $size + 6px;
  }
}
