// display
.visible {
  visibility: visible;
}

.invisible {
  visibility: hidden;
}

// action
.unselectable {
  user-select: none;
}

// position
.pull-left {
  float: left !important;
}

.pull-right {
  float: right !important;
}

// size
.full-width {
  width: 100% !important;
}

.full-height {
  height: 100% !important;
}

// flex
.flex-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inline-flex-box {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.v-middle {
  display: flex;
  align-items: center;
}

// font size
.fz12 {
  font-size: 12px;
}

.fz14 {
  font-size: 14px;
}

.fz16 {
  font-size: 16px;
}

.fz18 {
  font-size: 18px;
}

//== color
.color-success {
  color: $color-success !important;
}

.color-danger {
  color: $color-danger !important;
}

.color-info {
  color: $color-text-normal !important;
}

.color-warning {
  color: $color-warning !important;
}

.color-active {
  color: $color-active !important;
}

// hover
.hover-active {
  &:hover {
    color: $color-primary;
    cursor: pointer;
  }
}

.hover-active-bg {
  &:hover {
    background-color: $color-hover;
    cursor: pointer;
  }
}

.hover-shadow {
  &:hover {
    @extend %hover-shadow;
  }
}

// cursor
.pointer {
  cursor: pointer;
}

.not-allowed {
  color: $color-disabled !important;
  cursor: not-allowed !important;

  &:hover {
    color: $color-disabled !important;
  }
}

.for-copy {
  cursor: copy;
}

// other
.nowrap {
  @include nowrap();
}
