// display
.visible {
  visibility: visible;
}

.invisible {
  visibility: hidden;
}

// action
.unselectable {
  user-select: none;
}

// position
.pull-left {
  float: left !important;
}

.pull-right {
  float: right !important;
}

// size
.full-width {
  width: 100% !important;
}

.full-height {
  height: 100% !important;
}

//== text-positioin
.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.text-justify {
  text-align: justify !important;
}

// flex
.flex-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inline-flex-box {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

.v-middle {
  display: flex;
  align-items: center;
}

// font size
.fz12 {
  font-size: 12px;
}

.fz14 {
  font-size: 14px;
}

.fz16 {
  font-size: 16px;
}

.fz18 {
  font-size: 18px;
}

//== color
.color-success {
  color: $color-success !important;
}

.color-danger {
  color: $color-danger !important;
}

.color-info {
  color: $color-text-normal !important;
}

.color-warning {
  color: $color-warning !important;
}

.color-active {
  color: $color-active !important;
}

// hover
.hover-active {
  &:hover {
    color: $color-primary;
    cursor: pointer;
  }
}

.hover-active-bg {
  &:hover {
    background-color: $color-hover;
    cursor: pointer;
  }
}

.hover-shadow {
  &:hover {
    @extend %hover-shadow;
  }
}

// cursor
.pointer {
  cursor: pointer;
}

.not-allowed {
  color: $color-disabled !important;
  cursor: not-allowed !important;

  &:hover {
    color: $color-disabled !important;
  }
}

.for-copy {
  cursor: copy;
}

// other
.nowrap {
  @include nowrap();
}

.img-thumbnail {
  border-radius: 16px;
}

.img-raised {
  box-shadow: 0 5px 15px -8px rgba(0, 0, 0, .24),
    0 8px 10px -5px rgba(0, 0, 0, .2);
}

.rounded {
  border-radius: 6px !important;
}

.rounded-circle {
  border-radius: 50% !important;
}

// margin
.mt0 {
  margin-top: 0 !important;
}

.mt4 {
  margin-top: 4px !important;
}

.mt8 {
  margin-top: 8px !important;
}

.mt12 {
  margin-top: 12px !important;
}

.mt16 {
  margin-top: 16px !important;
}

.mt20 {
  margin-top: 20px !important;
}

.mt24 {
  margin-top: 20px !important;
}

.mt32 {
  margin-top: 32px !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

.mb4 {
  margin-bottom: 4px !important;
}

.mb8 {
  margin-bottom: 8px !important;
}

.mb12 {
  margin-bottom: 12px !important;
}

.mb16 {
  margin-bottom: 16px !important;
}

.mb20 {
  margin-bottom: 20px !important;
}

.mb24 {
  margin-bottom: 20px !important;
}

.mb32 {
  margin-bottom: 32px !important;
}

.ml0 {
  margin-left: 0 !important;
}

.ml4 {
  margin-left: 4px !important;
}

.ml8 {
  margin-left: 8px !important;
}

.ml12 {
  margin-left: 12px !important;
}

.ml16 {
  margin-left: 16px !important;
}

.ml20 {
  margin-left: 20px !important;
}

.ml24 {
  margin-left: 20px !important;
}

.ml32 {
  margin-left: 32px !important;
}

.mr0 {
  margin-right: 0 !important;
}

.mr4 {
  margin-right: 4px !important;
}

.mr8 {
  margin-right: 8px !important;
}

.mr12 {
  margin-right: 12px !important;
}

.mr16 {
  margin-right: 16px !important;
}

.mr20 {
  margin-right: 20px !important;
}

.mr24 {
  margin-right: 20px !important;
}

.mr32 {
  margin-right: 32px !important;
}
