// Color palette
$green: #46c085;
$cyan: #5bd6d0;
$blue: #5294fa;
$purple: #8570f7;
$orange: #fa9548;
$yellow: #fdce4e;
$red: #f35c6f;
$black: #333333;
$lightblack: #666666;
$dimgray: #999999;
$darkgray: #a9a9a9;
$lightgray: #d3d3d3;
$gainsboro: #cacaca;
$platinum: #eeeeee;
$whitesmoke: #f5f5f5;
$ghostwhite: #f8f8f8;
$white: #ffffff;

// theme
$color-primary: $blue;

$color-dark-8: rgba(0, 0, 0, .8) !default;
$color-dark-6: rgba(0, 0, 0, .6) !default;
$color-dark-5: rgba(0, 0, 0, .5) !default;
$color-dark-4: rgba(0, 0, 0, .4) !default;
$color-dark-3: rgba(0, 0, 0, .3) !default;
$color-dark-2: rgba(0, 0, 0, .2) !default;
$color-dark-1: rgba(0, 0, 0, .1) !default;

$color-white-8: rgba(255, 255, 255, .8) !default;
$color-white-6: rgba(255, 255, 255, .6) !default;
$color-white-5: rgba(255, 255, 255, .5) !default;
$color-white-4: rgba(255, 255, 255, .4) !default;
$color-white-3: rgba(255, 255, 255, .3) !default;
$color-white-2: rgba(255, 255, 255, .2) !default;
$color-white-1: rgba(255, 255, 255, .1) !default;

// Color text
$color-text: $color-dark-8 !default;
$color-text-normal: $color-dark-8 !default;
$color-text-sub: $color-dark-6 !default;
$color-text-desc: $color-dark-4 !default;
$color-text-icon: $color-dark-3 !default;
$color-text-holder: $color-dark-2 !default;

// Color status
$color-success: $green;
$color-danger: $red;
$color-warning: $orange;
$color-info: $blue;
$color-active: $color-primary;
$color-active-red: $red;
$color-disabled: $color-dark-3;

// Color border
$color-border: $color-dark-1;
$color-border-hover: $color-active;

// Color decorator
$color-hover: #f2f1fc;
$color-hover-bg: rgba(0, 0, 0, .12);
$color-background: $whitesmoke;
$color-split: #e1e4e8;
$color-shadow: $color-dark-3;

// layout
$header-height: 4rem;
$footer-height: 4rem;
$app-side-width: 60%;
$layout-padding: 1rem;
$content-padding: 2rem;
$content-width: 1040px;

// 圆角
$radius: 4px;
$radius-lg: 6px;

// 间距
$p4: 4px;
$p8: 8px;
$p12: 12px;
$p16: 16px;
$p20: 20px;
$p24: 24px;
$p28: 28px;
$p32: 32px;

// 字体
$fz12: 12px;
$fz14: 14px;
$fz16: 16px;
$fz18: 18px;
